<!-- <div class = "addEmployee">
    <label>
        Name:
        <input type="text" [formControl]="name">
    </label>

    <button mat-button color="primary" (click)="addEmployee()">Add Employee</button>
</div> -->
<h1>Add Project</h1>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <p>
        <label>
            Client Name
            <input type="text" formControlName="clientname">
          </label>
    </p>
      
      <p>
        <label>
            projectCode:
            <input type="text" formControlName="projectcode">
          </label>
      </p>
      
      <p>
        <label>
            Project Name:
            <input type="text" formControlName="projectname">
          </label>
      </p>
      
      <p>
        <label>
            Project Start Date:
            <input type="text" formControlName="projectstartdate">
          </label>
      </p>
      
      <p>
        <label>
            Project Status:
            <input type="text" formControlName="projectstatus">
          </label>
      </p>
      
      <p>
        <label>
            Billing Type:
            <input type="text" formControlName="billingtype">
          </label>
      </p>
      
      <p>
        <label>
            Segment:
            <input type="text" formControlName="segment">
          </label>
      </p>
      
      <p>
        <label>
          Geography:
            <input type="text" formControlName="geography">
          </label>
      </p>
      
      <p>
        <label>
          Solution category:
            <input type="text" formControlName="solutioncategory">
          </label>
      </p>
      
      <p>
        <label>
            Financial year:
            <input type="text" formControlName="financialyear">
          </label>
      </p>
<!--       
      <p>
        <label>
            Employee Start Date:
            <input type="text" formControlName="empstartdate">
          </label>
      </p>
      
      <p>
        <label>
            Employee Last Working Date:
            <input type="text" formControlName="emplwd">
          </label>
      </p>
      
      <p>
        <label>
            Employee project assigned Date:
            <input type="text" formControlName="empprojectassigneddate">
          </label>
      </p>
      
      <p>
        <label>
            Employee project end Date:
            <input type="text" formControlName="empprojectenddate">
          </label>
      </p> -->
      
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  </form>

