<app-add-employee></app-add-employee>
  <!-- https://codepen.io/AurelieT/pen/JGxMgo -->
<h1>Employees List</h1>
  <div class="container">   
    <table>
        <thead>
            <tr>
                <th data-field="First Name" data-checkbox="true">First Name</th>
                <th data-field="Last Name" data-filter-control="input" data-sortable="true">Last Name</th>
                <th data-field="Sur Name" data-filter-control="select" data-sortable="true">Sur Name</th>
                <th data-field="Initial" data-filter-control="select" data-sortable="true">Initial</th>
                <th data-field="Salutation" data-filter-control="select" data-sortable="true">Salutation</th>
                <th data-field="Manager Name" data-filter-control="select" data-sortable="true">Manager Name</th>
                <th data-field="Manager Dept" data-filter-control="select" data-sortable="true">Manager Dept</th>
                <th data-field="Project ID" data-filter-control="select" data-sortable="true">Project ID</th>
                <th data-field="Status" data-filter-control="select" data-sortable="true">Status</th>
                <th data-field="Dept" data-filter-control="select" data-sortable="true">Dept</th>
                <th data-field="Employee Start Date" data-filter-control="select" data-sortable="true">Employee Start Date</th>
                <th data-field="Employee Last working Date" data-filter-control="select" data-sortable="true">Employee Last working Date</th>
                <th data-field="Employee project Assigned Date" data-filter-control="select" data-sortable="true">Employee project Assigned Date</th>
                <th data-field="Employee project End Date" data-filter-control="select" data-sortable="true">Employee project End Date</th>
            </tr>
        </thead>
        <tbody>
            <!-- <li *ngFor="let item of employee_list"> -->
                <tr *ngFor="let item of employee_list">
                    <td>{{item.first_name}}</td>
                    <td>{{item.last_name}}</td>
                    <td>{{item.sur_name}}</td>
                    <td>{{item.initial}}</td>
                    <td>{{item.salutation}}</td>
                    <td>{{item.manager_name}}</td>
                    <td>{{item.manager_dept}}</td>
                    <td>{{item.project_id}}</td>
                    <td>{{item.employment_status}}</td>
                    <td>{{item.dept}}</td>
                    <td>{{item.emp_start_date}}</td>
                    <td>{{item.emp_last_working_date}}</td>
                    <td>{{item.emp_project_assigned_date}}</td>
                    <td>{{item.emp_project_end_date}}</td>
                </tr>
            <!-- </li>  -->
        </tbody>
    </table>
    </div>