<!-- <div class = "addEmployee">
    <label>
        Name:
        <input type="text" [formControl]="name">
    </label>

    <button mat-button color="primary" (click)="addEmployee()">Add Employee</button>
</div> -->
<h1>Add Employee</h1>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <p>
        <label>
            First Name:
            <input type="text" formControlName="firstName">
          </label>
    </p>
      
      <p>
        <label>
            Last Name:
            <input type="text" formControlName="lastname">
          </label>
      </p>
      
      <p>
        <label>
            Sur Name:
            <input type="text" formControlName="surname">
          </label>
      </p>
      
      <p>
        <label>
            Initial:
            <input type="text" formControlName="initial">
          </label>
      </p>
      
      <p>
        <label>
            Salutation:
            <input type="text" formControlName="salutation">
          </label>
      </p>
      
      <p>
        <label>
            Manager Name:
            <input type="text" formControlName="managername">
          </label>
      </p>
      
      <p>
        <label>
            Manager Dept:
            <input type="text" formControlName="managerdept">
          </label>
      </p>
      
      <p>
        <label>
            Project ID:
            <input type="text" formControlName="projectid">
          </label>
      </p>
      
      <p>
        <label>
            Employment Status:
            <input type="text" formControlName="empstatus">
          </label>
      </p>
      
      <p>
        <label>
            Dept:
            <input type="text" formControlName="dept">
          </label>
      </p>
      
      <p>
        <label>
            Employee Start Date:
            <input type="text" formControlName="empstartdate">
          </label>
      </p>
      
      <p>
        <label>
            Employee Last Working Date:
            <input type="text" formControlName="emplwd">
          </label>
      </p>
      
      <p>
        <label>
            Employee project assigned Date:
            <input type="text" formControlName="empprojectassigneddate">
          </label>
      </p>
      
      <p>
        <label>
            Employee project end Date:
            <input type="text" formControlName="empprojectenddate">
          </label>
      </p>
      
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  </form>

